	<div class="row">
				<div class="col-sm-6">
									</div>
				<div class="col-sm-6">
						<div class="post-share">
					<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.emanuelmooner.com%2Fportfolio%2F894%2F" class="share facebook" target="_blank" title="Share on Facebook"><i class="fa fa-facebook fa-fw"></i></a>
							<a href="https://twitter.com/intent/tweet?source=EMANUEL MOONER&amp;text=http%3A%2F%2Fwww.emanuelmooner.com%2Fportfolio%2F894%2F" class="share twitter" target="_blank" title="Share on Twitter"><i class="fa fa-twitter fa-fw"></i></a>
							<a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.emanuelmooner.com%2Fportfolio%2F894%2F" class="share google" target="_blank" title="Share on Google+"><i class="fa fa-google fa-fw"></i></a>
							<a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A%2F%2Fwww.emanuelmooner.com%2Fportfolio%2F894%2F&amp;title=%26%23038%3BGrreens&amp;summary=SOLD&amp;source=EMANUEL MOONER" class="share linkedin" target="_blank" title="Share on LinkedIn"><i class="fa fa-linkedin fa-fw"></i></a>							<a href="https://www.tumblr.com/share/link?url=http%3A%2F%2Fwww.emanuelmooner.com%2Fportfolio%2F894%2F&amp;name=%26%23038%3BGrreens&amp;description=SOLD" class="share tumblr" target="_blank" title="Share on Tumblr"><i class="fa fa-tumblr fa-fw"></i></a>
			</div>
				</div>
			</div>